  
{% extends "base.html" %}
{% block title %}Исполнители{% endblock title %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>№</td>
                <td>Название</td>
                <td>Фото</td>
            </tr>
        </thead>

        <tbody>
            {% for a in artists %}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.name}}</td>
                    <td><img class="artist_logo" src="/media/{{a.image}}" alt=""></td>
                    <td><a href="/editartist/{{a.id}}">Редактировать</a></td>
                    <td><a href="/deleteartist/{{a.id}}">Удалить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/addartist">Добавить исполнителя</a>
{% endblock content %}