#menu {
	display: flex;
}
#menu a {
	/* margin-right: 5px; */
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid green;
	background-color: green;
}
#menu a:hover, #menu a.active {
	color: black;
	border: 1px solid palegreen;
	background-color: palegreen;
}

* {
	box-sizing: border-box;
}

#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	border: 1px solid black;
}
#container {
	display: flex;
    
}
#content {
    width: 100%;
	min-height: 700px;
	padding: 20px;
	border: 1px solid black;
} 
#sidebar {
	width: 200px;
	margin-right: 20px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}

.photo {
    max-width: 300px;
} 




table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
    text-align: left;
	padding: 12px;
	border: 2px solid rgb(0, 0, 0);
}
table th {
    color: #333;
    background-color: #f2f2f2;
 }